# Проект 5. Служба такси.

### Импорт библиотек

In [3]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.types import *
import pyspark.sql.functions as F
from pyspark.sql.functions import count
from pyspark.sql.functions import col, when, count

### Создание спарк-сессии

In [4]:
spark = SparkSession.builder\
    .master("local[*]")\
    .appName("SparkFirst")\
    .config("spark.executor.memory", "10g")\
    .config("spark.executor.cores", 5)\
    .config("spark.dynamicAllocation.enabled", "true")\
    .config("spark.dynamicAllocation.maxExecutors", 5)\
    .config("spark.shuffle.service.enabled", "true")\
.getOrCreate()

### Создание dataframe из скачанного файла

In [5]:
schema = StructType([
    StructField('VendorId', IntegerType(), True),
    StructField('tpep_pickup_datetime', TimestampType(), True),
    StructField('tpep_dropoff_datetime', TimestampType(), True),
    StructField('passenger_count', IntegerType(), True),
    StructField('trip_distance', DoubleType(), True),
    StructField('RatecodeID', IntegerType(), True),
    StructField('store_and_fwd_flag', StringType(), True),
    StructField('PULocationID', IntegerType(), True),
    StructField('DOLocationID', IntegerType(), True),
    StructField('payment_type', IntegerType(), True),
    StructField('fare_amount', DoubleType(), True),
    StructField('extra', DoubleType(), True),
    StructField('mta_tax', DoubleType(), True),
    StructField('tip_amount', DoubleType(), True),
    StructField('tolls_amount', DoubleType(), True),
    StructField('improvement_surcharge', DoubleType(), True),
    StructField('total_amount', DoubleType(), True),
    StructField('congestion_surcharge', DoubleType(), True),
])

df = spark.read.option('header', 'true').csv('yellow_tripdata_2020-01.csv', schema=schema)

### Проверка датафрейма

In [6]:
df.printSchema()

root
 |-- VendorId: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [7]:
# проверяем датафрейм на наличие нулевых значений

df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorId|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|   65441|                   0|                    0|          65441|            0|     65441|             65441|           0|           0|       65441|          0|    0|      0|         0|           0|                    0|           0|                   0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+

In [8]:
#чистим df от нулевых значений

df_clean = df.dropna(how='any')

In [9]:
# снова проверяем датафрейм на наличие нулевых значений, убеждаемся в их отсутствии

df_clean.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorId|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       0|                   0|                    0|              0|            0|         0|                 0|           0|           0|           0|          0|    0|      0|         0|           0|                    0|           0|                   0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+

In [10]:
df_clean.createOrReplaceTempView('taxi_service_in_process')

In [11]:
# запрос для очистки от отрицательных значений (для корректности входных данных)

sql = """
SELECT *
FROM taxi_service_in_process
WHERE 
total_amount > 0 AND
trip_distance > 0
"""

In [12]:
# Создание копии df с очищенными данными

df_done = spark.sql(sql)

df_done.createOrReplaceTempView('taxi_service')

# df_done.show(100)

In [13]:
# Запрос для создания витрины данных 

sql = """
WITH
clear_date_from_table
AS
(
	SELECT date(tpep_pickup_datetime) AS date
	FROM taxi_service ts 
),
date_count
AS
(
	SELECT count(date) AS count_date,
	date AS date
	FROM clear_date_from_table
	GROUP BY date
),
info_zero
AS
(
	SELECT max(total_amount) AS zero_max_amm,
	min(total_amount) AS zero_min_amm,
	date(tpep_pickup_datetime) AS date,
	count(passenger_count) AS percentage_zero
	FROM taxi_service ts 
	WHERE passenger_count = 0
	GROUP BY date
),
info_1p
AS
(
	SELECT max(total_amount) AS max_amm_1p,
	min(total_amount) AS min_amm_1p,
	date(tpep_pickup_datetime) AS date,
	count(passenger_count) AS percentage_1p
	FROM taxi_service ts 
	WHERE passenger_count = 1
	GROUP BY date
),
info_2p
AS
(
	SELECT max(total_amount) AS max_amm_2p,
	min(total_amount) AS min_amm_2p,
	date(tpep_pickup_datetime) AS date,
	count(passenger_count) AS percentage_2p
	FROM taxi_service ts 
	WHERE passenger_count = 2
	GROUP BY date
),
info_3p
AS
(
	SELECT max(total_amount) AS max_amm_3p,
	min(total_amount) AS min_amm_3p,
	date(tpep_pickup_datetime) AS date,
	count(passenger_count) AS percentage_3p
	FROM taxi_service ts 
	WHERE passenger_count = 3
	GROUP BY date
),
info_4p_plus
AS
(
	SELECT max(total_amount) AS max_amm_4p_plus,
	min(total_amount) AS min_amm_4p_plus,
	date(tpep_pickup_datetime) AS date,
	count(passenger_count) AS percentage_4p_plus
	FROM taxi_service ts 
	WHERE passenger_count > 3
	GROUP BY date
)
SELECT date,
COALESCE(round((CAST(percentage_zero AS decimal) / count_date) * 100), 0) AS percentage_zero,
COALESCE(zero_max_amm, 0) AS zero_max_amm,
COALESCE(zero_min_amm, 0) AS zero_min_amm,
COALESCE(round((CAST(percentage_1p AS decimal) / count_date) * 100), 0) AS percentage_1p,
COALESCE(max_amm_1p, 0) AS max_amm_1p,
COALESCE(min_amm_1p, 0) AS min_amm_1p,
COALESCE(round((CAST(percentage_2p AS decimal) / count_date) * 100), 0) AS percentage_2p,
COALESCE(max_amm_2p, 0) AS max_amm_2p,
COALESCE(min_amm_2p, 0) AS min_amm_2p,
COALESCE(round((CAST(percentage_3p AS decimal) / count_date) * 100), 0) AS percentage_3p,
COALESCE(max_amm_3p, 0) AS max_amm_3p,
COALESCE(min_amm_3p, 0) AS min_amm_3p,
COALESCE(round((CAST(percentage_4p_plus AS decimal) / count_date) * 100), 0) AS percentage_4p_plus,
COALESCE(max_amm_4p_plus, 0) AS max_amm_4p_plus,
COALESCE(min_amm_4p_plus, 0) AS min_amm_4p_plus
FROM date_count 
LEFT JOIN info_1p USING(date)
LEFT JOIN info_2p USING(date)
LEFT JOIN info_3p USING(date)
LEFT JOIN info_4p_plus USING(date)
LEFT JOIN info_zero USING(date)
"""

# Создание итоговой витрины

df2 = spark.sql(sql)

df2.createOrReplaceTempView('taxi_service_done')

df2.show(100)

+----------+---------------+------------+------------+-------------+----------+----------+-------------+----------+----------+-------------+----------+----------+------------------+---------------+---------------+
|      date|percentage_zero|zero_max_amm|zero_min_amm|percentage_1p|max_amm_1p|min_amm_1p|percentage_2p|max_amm_2p|min_amm_2p|percentage_3p|max_amm_3p|min_amm_3p|percentage_4p_plus|max_amm_4p_plus|min_amm_4p_plus|
+----------+---------------+------------+------------+-------------+----------+----------+-------------+----------+----------+-------------+----------+----------+------------------+---------------+---------------+
|2009-01-01|              0|         0.0|         0.0|           79|      74.8|       3.3|            5|      31.3|      31.3|            5|      13.8|      13.8|                11|          61.42|            9.3|
|2020-01-04|              2|      152.54|         0.3|           66|     965.8|       0.3|           18|     481.3|       0.3|            5|     158.8|       0.3|                 9|          577.8|            0.3|
|2020-01-03|              2|      187.42|         0.3|           69|    1242.3|       0.3|           16|     370.3|       0.3|            5|    409.59|       3.8|                 9|          226.1|            0.3|
|2020-01-02|              2|      162.42|         0.3|           69|    390.96|       0.3|           16|    210.65|       0.3|            5|    215.54|       0.3|                 9|          352.3|            3.3|
|2020-01-01|              2|      145.55|         0.3|           63|     465.3|       0.3|           20|    281.42|       0.3|            6|    433.04|      0.31|                10|         350.42|            0.3|
|2021-01-02|              0|         0.0|         0.0|          100|     17.16|      14.8|            0|       0.0|       0.0|            0|       0.0|       0.0|                 0|            0.0|            0.0|
|2019-12-31|              0|         0.0|         0.0|           58|     71.62|       5.8|           16|      41.8|       5.8|            5|     34.42|     10.56|                21|          54.36|            6.8|
|2008-12-31|              0|         0.0|         0.0|           80|      73.7|       7.3|            0|       0.0|       0.0|           10|      7.25|      7.25|                10|           55.3|           55.3|
|2020-01-07|              2|       114.8|         0.3|           74|    410.67|       0.3|           14|    312.96|       3.3|            3|     225.3|       3.3|                 7|          242.8|            3.3|
|2020-01-05|              2|      435.42|         0.3|           68|    596.42|       0.3|           17|     375.3|       0.3|            5|    333.34|      0.31|                 9|         255.42|            3.3|
|2020-01-06|              2|      275.42|         0.3|           74|    581.06|       0.3|           14|    276.36|       0.3|            4|     200.3|       3.3|                 7|          181.8|            0.6|
|2020-01-30|              2|      137.35|         3.3|           74|     349.1|       0.3|           13|    243.49|       0.3|            3|     212.9|       0.3|                 7|         411.82|            0.3|
|2020-01-09|              2|      114.75|         0.3|           74|     620.3|       0.3|           14|     226.7|       0.3|            3|     230.3|       4.3|                 7|         333.04|            3.3|
|2020-01-08|              2|      319.03|         0.3|           74|    914.55|       0.3|           14|    282.36|       0.3|            4|    182.05|       0.3|                 7|         253.67|            0.3|
|2020-01-10|              2|       253.3|         3.3|           72|     303.8|       0.3|           15|    245.05|       0.3|            4|    187.55|       3.3|                 7|          280.8|            3.3|
|2020-01-11|              2|      143.45|         0.3|           67|    416.15|       0.3|           18|    228.02|       0.3|            5|     250.3|       0.3|                 8|         424.29|            3.3|
|2020-01-12|              2|       161.8|         0.3|           69|     450.3|       0.3|           17|     431.6|       0.3|            5|    331.42|      0.31|                 8|         658.35|            0.3|
|2020-02-23|              0|         0.0|         0.0|            0|       0.0|       0.0|            0|       0.0|       0.0|          100|      28.8|      28.8|                 0|            0.0|            0.0|
|2020-01-13|              2|      276.29|         2.5|           75|    534.12|       0.3|           13|     400.3|       0.3|            4|    178.92|       3.8|                 7|          300.3|            3.3|
|2020-03-16|              0|         0.0|         0.0|            0|       0.0|       0.0|            0|       0.0|       0.0|          100|      8.76|      8.76|                 0|            0.0|            0.0|
|2020-02-02|              0|         0.0|         0.0|            0|       0.0|       0.0|           50|       9.8|       9.8|           50|       9.3|       9.3|                 0|            0.0|            0.0|
|2020-01-14|              2|       172.3|         0.3|           74|    340.01|       0.3|           13|     330.5|       0.3|            3|     300.3|       0.3|                 7|         412.09|            1.6|
|2020-01-17|              2|       281.3|         0.3|           72|     769.8|       0.3|           15|    360.96|       0.3|            4|    149.89|       3.3|                 7|         351.29|            3.3|
|2020-01-16|              2|      112.36|         0.3|           74|    395.45|       0.3|           14|    291.35|      0.31|            3|    207.95|       3.8|                 7|         156.04|            1.3|
|2020-01-15|              2|       322.8|         3.3|           74|    381.79|       0.3|           13|    408.95|       0.3|            3|    184.67|       0.3|                 7|         179.16|            3.3|
|2020-01-19|              2|      160.92|         0.8|           67|     464.8|       0.3|           18|     407.8|       0.3|            5|    499.56|       0.3|                 9|         222.36|            3.3|
|2020-01-18|              2|      166.92|         3.8|           67|    446.46|       0.3|           18|     387.6|       0.3|            5|    435.54|       0.3|                 9|         384.66|            3.3|
|2020-01-21|              2|      216.12|         0.3|           74|    4268.3|       0.3|           13|     335.0|       0.3|            3|    240.06|       0.3|                 7|         406.42|            0.3|
|2020-02-12|              0|         0.0|         0.0|          100|      18.3|     11.76|            0|       0.0|       0.0|            0|       0.0|       0.0|                 0|            0.0|            0.0|
|2020-03-25|              0|         0.0|         0.0|          100|      17.3|      11.3|            0|       0.0|       0.0|            0|       0.0|       0.0|                 0|            0.0|            0.0|
|2020-07-31|              0|         0.0|         0.0|          100|       9.3|       9.3|            0|       0.0|       0.0|            0|       0.0|       0.0|                 0|            0.0|            0.0|
|2020-01-22|              2|      246.42|         3.8|           75|    1110.8|       0.3|           13|    294.96|       0.3|            3|    166.92|       3.8|                 7|          264.2|            3.3|
|2020-07-10|              0|         0.0|         0.0|          100|     20.16|      9.36|            0|       0.0|       0.0|            0|       0.0|       0.0|                 0|            0.0|            0.0|
|2020-05-28|              0|         0.0|         0.0|          100|     18.96|       9.8|            0|       0.0|       0.0|            0|       0.0|       0.0|                 0|            0.0|            0.0|
|2020-05-07|              0|         0.0|         0.0|          100|     31.62|     11.16|            0|       0.0|       0.0|            0|       0.0|       0.0|                 0|            0.0|            0.0|
|2020-01-20|              2|       226.3|         0.3|           71|    471.79|       0.3|           16|     617.3|       0.3|            4|    409.89|       3.8|                 8|          240.2|            3.3|
|2020-04-16|              0|         0.0|         0.0|          100|     10.56|     10.56|            0|       0.0|       0.0|            0|       0.0|       0.0|                 0|            0.0|            0.0|
|2020-03-04|              0|         0.0|         0.0|          100|     15.34|     15.34|            0|       0.0|       0.0|            0|       0.0|       0.0|                 0|            0.0|            0.0|
|2020-06-19|              0|         0.0|         0.0|          100|      25.3|      25.3|            0|       0.0|       0.0|            0|       0.0|       0.0|                 0|            0.0|            0.0|
|2020-01-25|              2|      140.05|         0.3|           67|     350.3|       0.3|           18|    173.72|       0.3|            5|    272.23|       3.8|                 9|          153.8|            3.3|
|2020-01-24|              2|      163.02|         0.3|           72|    735.17|       0.3|           15|    308.47|       0.3|            4|    275.69|       0.3|                 7|          184.1|            0.3|
|2020-01-23|              2|      194.29|         3.8|           74|    553.14|       0.3|           13|    312.88|       0.3|            3|    170.74|       0.3|                 7|         367.35|            0.3|
|2020-01-27|              2|      156.17|         3.3|           74|    425.92|       0.3|           13|     234.1|       0.3|            4|    318.29|      3.15|                 7|         238.55|           0.31|
|2020-03-26|              0|         0.0|         0.0|            0|       0.0|       0.0|            0|       0.0|       0.0|            0|       0.0|       0.0|               100|           21.8|           21.8|
|2020-01-26|              2|      186.35|         0.3|           68|    1722.3|       0.3|           17|    345.34|       0.3|            5|    173.16|       3.3|                 8|         217.86|            0.3|
|2020-01-29|              2|      209.17|         3.3|           75|     499.8|       0.3|           13|    454.19|       0.3|            3|    231.92|       3.3|                 7|         227.66|            3.3|
|2020-01-28|              2|      143.05|         3.3|           75|     587.3|       0.3|           13|    298.12|       0.3|            3|    156.36|       3.8|                 7|          294.8|            3.3|
|2020-02-01|              0|         0.0|         0.0|           74|    164.33|       9.8|           22|     21.36|     12.36|            0|       0.0|       0.0|                 4|           11.3|           11.3|
|2020-01-31|              2|      159.77|         0.3|           73|    906.35|       0.3|           15|     272.8|       0.3|            4|    135.36|       3.3|                 7|         293.16|            3.3|
+----------+---------------+------------+------------+-------------+----------+----------+-------------+----------+----------+-------------+----------+----------+------------------+---------------+---------------+